name: CI Pipeline

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install dependencies
        run: make install

      - name: Run Linter
        run: make lint

      - name: Run Tests html
        run: make test

      - name: Run Tests xml
        run: make test-xml

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: "https://sonarcloud.io"
        with:
          args: >
            -Dsonar.projectKey=liar74ru_php-project-9
            -Dsonar.organization=liar74ru
            -Dsonar.projectName=php-project-9
            -Dsonar.php.coverage.reportPaths=coverage.xml
            -Dsonar.sources=src
            -Dsonar.tests=tests
            -Dsonar.qualitygate.wait=true
            -Dsonar.coverage.exclusions=tests/**,vendor/**
